#gameFrame{
    background-color: black;
    height: 600px;
    width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.enemy{
    width: 150px;
    height: 400px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: -400px;
    transition: all .5s;
}

#enemy1{left: 5px;}
#enemy2{left: 165px;}
#enemy3{left: 325px;}
#enemy4{left: 485px;}
#enemy5{left: 645px;}

.enemy.dead{
    background-color: gray;
    height: 50px;
}

.enemy.showing{
    bottom: 0;
}

.enemy.shooting{
    background-color: red;
}

#healthBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: rgb(255, 57, 57);
    transition: width .5s;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.btn button{
    padding: 10px;
    color: white;
    background-color: rgb(45, 228, 21);
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
}